* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100dvh;
    background-color: rgb(173, 119, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    max-width: 600px;
    width: 100%;
    background-color: rgb(135, 145, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 4px 5px 20px black;
}

#selectCoins {
    display: flex;
    gap: 1.1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#changeSide {
    all: unset;
    height: 50px;
    cursor: pointer;
}

.coinSelectedBox {
    margin-bottom: 0.9em;
    font-size: 1em;
}

.coinSelectedBox select, .coinSelectedBox input {
    padding: 1.2em;
    border: 1px solid rgb(214, 48, 48);
    border-radius: 10px;
}

.coinSelectedBox select {
    width: 120px;
}


@media screen and (max-width: 768px) {
    #container {
       max-width: 300px;
    }
    .coinSelectedBox {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }
}